$theme-color:#cc1200;
$button-color-hover:#fff;
$float-left:left;
$float-right:right;
$main-margin:50px;
$font-color:#555;
$background-color:#eee;
$imgWidth:120px;
$imgHeight:90px;
$handCursor:pointer;
$icon-height:20px;
$font-size-small:14px;