<h6>Average Rating : {{ avgRating | async }}</h6>



        <fieldset class="rating">
                <ng-container *ngFor="let num of [5,4,3,2,1]">
                    <input  (click)="rate(num)"
                    [id]="'star'+num"
                    [value]="num"
                   
                    type="radio"
                    >
                    <label class="full" [for]="'star'+num"></label>
            
                    <input  (click)="rate(num-0.5)"
                    [id]="'halfstar'+num"
                    [value]="num-0.5"
                  
                    type="radio"
                    >
                    <label class="half" [for]="'halfstar'+num"></label>
            
                </ng-container>
            </fieldset>


